@model CommunityComplaints.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="NewPassword" class="form-control" placeholder="Leave blank to keep old password" />
            </div>

            <div class="form-group">
                <label asp-for="UnitNumber"></label>
                <input asp-for="UnitNumber" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
            </div>

            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsActive" />
                <label class="form-check-label">Active</label>
            </div>

            <div class="form-group">
                <label asp-for="RoleId"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>


            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>

<a asp-action="Index">Back to List</a>