@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CommunityComplaints.ViewModels.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input asp-for="UnitNumber" placeholder="Unit Number" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="mb-3">
    <select asp-for="Role">
        <option value="Resident">Resident</option>
        <option value="Staff">Staff</option>
    </select>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit">Register</button>
    <p class="text-center mt-2">
        Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
    </p>
    <div class="text-center">
        <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
    </div>
</form>